.graphic-img{
    width: 100%;
    position: relative;
    // display: block;
}

.project-bck-img-1{   background-image: url(img/qwerdtf-01.png);}
.project-bck-img-2{   background-image: url(img/emblem-01.png);}
.project-bck-img-3{   background-image: url(img/teja.png);}
.project-bck-img-4{   background-image: url(img/alibab.png);}
.project-bck-img-5{   background-image: url(img/bigego.png);}
.project-bck-img-6{   background-image: url(img/bobntaba.png);}
.project-bck-img-7{   background-image: url(img/casual.png);}
.project-bck-img-8{   background-image: url(img/easylogo.png);}
.project-bck-img-9{   background-image: url(img/eps-02.png);}
.project-bck-img-10{   background-image: url(img/getslikethat.jpeg);}
.project-bck-img-11{   background-image: url(img/idrop.png);}
.project-bck-img-12{   background-image: url(img/josie.png);}
.project-bck-img-13{   background-image: url(img/maccan.jpeg);}
.project-bck-img-14{   background-image: url(img/ps-ps.png);}
.project-bck-img-15{   background-image: url(img/pts.png);}
.project-bck-img-16{   background-image: url(img/qwerdtf-01.png);}
.project-bck-img-17{   background-image: url(img/qwerdtf-01.png);}
.project-bck-img-18{   background-image: url(img/qwerdtf-01.png);}





